<div class="jumbotron mt-4">
    <h1 class="display-5">Notes App Node.JS and MongoDB</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus reiciendis excepturi itaque laborum numquam libero?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor officia iure earum porro velit ratione quam voluptates possimus nostrum. Id?</p>
    <a href="https://github.com/lucabecci" class="btn btn-primary">LucaBecci</a>
</div>